@import '../../mixins.scss';

#ldxpq13x {
  position: relative;
  font-size: 0.8rem;

  .page-body {
    position: relative;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;

    &:empty {
      justify-content: center;
      &::after {
        margin: 20px 0;
        content: attr(empty-message);
        opacity: 0.5;
        font-size: 1.2rem;
      }
    }

    .row {
      width: 50%;
    }

    .img {
      position: absolute;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .bottom-bar {
        position: absolute;
        bottom: 0;
        @include flex-row;
        justify-content: space-between;
        width: 100%;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0)
        );
        height: 60px;
        padding: 20px 10px 0 10px;
        box-sizing: border-box;

        [action] {
          background-color: transparent;

          &[data-href] {
            &:active {
              color: #39f;
            }
          }

          &:active {
            background-color: transparent;
          }
        }

        .author {
          display: flex;
          align-items: center;
          max-width: calc(100% - 60px);
        }

        [data-href]:not(:empty) {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          background-color: white;
          border-radius: 4px;
          color: rgb(43, 68, 94);
          padding: 2.5px 5px;
        }

        .icon-favorite {
          transition: all 100ms ease;

          &.fill-red {
            color: orangered;
          }

          &.pop {
            animation: pop 100ms ease 1;
          }
        }
      }
    }
  }
}
