@import '../../mixins';

#l4wl0xol {
  position: relative;

  header {
    display: none;
  }

  [action='save-image'] {
    padding: 0 10px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    border-radius: 4px;
    margin: 0 16px;
  }

  .page-body {
    height: 100%;
    position: relative;

    .device {
      position: absolute;
      top: -60px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border-radius: 8px;
      overflow: hidden;
      border: solid 2px black;
      background-color: black;
      box-shadow: 0 0 24px 2px rgba($color: #000000, $alpha: 0.5);
      box-sizing: border-box;

      img {
        height: 100%;
      }

      .app-icons {
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
        @include flex-center;
        justify-content: space-around;
        justify-content: space-evenly;

        .app-icon {
          display: block;
          height: 40px;
          width: 40px;
          border-radius: 8px;
          background-color: rgba($color: #fff, $alpha: 0.6);
          box-shadow: 0 0 8px 1px rgba($color: #000000, $alpha: 0.5);
          margin: auto;
        }
      }
    }

    button {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: transparent;
      border: none;
      color: white;
      text-transform: uppercase;
      font-size: 1.2rem;

      &:focus {
        outline: none;
      }
    }
  }
}
