<div
  class='options'
  style='display: flex; flex-direction: column; align-items: center; justify-content: center;'
>
  <style>
    .options .option{ display: flex; height: 40px; width: 100%; align-items:
    center; }
  </style>
  <div class='option' which='HOME'>Home screen</div>
  <div class='option' which='LOCK'>Lock screen</div>
  <div class='option' which='BOTH'>Both</div>
</div>