<div id="{{id}}" class="page {{#secondary}}secondary{{/secondary}}">
  <header>{{#secondary}}
    <span class="icon-arrow_back" action="back"></span>
    <span class="title">{{{title}}}</span>
  {{/secondary}}</header>
  <div class="page-body"></div>
</div>