:root {
  --primary-color: #212028;
  --secondary-color: #1a1936;
  --text-color: #ffffff;
  --status-bar-height: 0;

  --dialoge-background-color: rgb(27, 27, 48);
  --dialoge-text-color: rgb(255, 255, 255);

  --anchor-color: #39f;
  --scrollbar-color: #39f;
}
