#l0fztroz {
  position: relative; }
  #l0fztroz .options {
    margin-bottom: 20px; }
    #l0fztroz .options .option {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      border-bottom: solid 1px #666;
      padding: 5px 0 5px 10px; }
      #l0fztroz .options .option * {
        pointer-events: none; }
      #l0fztroz .options .option .title .text {
        font-size: 1.2rem; }
      #l0fztroz .options .option .title small {
        opacity: 0.8; }
  #l0fztroz .notice {
    padding: 0 10px;
    margin-bottom: 20px; }
    #l0fztroz .notice p {
      text-align: justify; }
  #l0fztroz footer {
    color: #ccc; }
    #l0fztroz footer .line {
      margin-bottom: 10px;
      text-align: center; }

